<h2>Panel de citas</h2>

<table border="1">
    <tr>
        <th>Día</th>
        <th>Hora</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

    {% for cita in citas %}
    <tr>
        <td>{{ cita [0] }} </td>
        <td>{{ cita [1] }} </td>
        <td>{{ cita [2] }} </td>
        <td>{{ cita [3] }} </td>
        <td>{{ cita [4] }} </td>
        <td>
            <a href="/confirmar/{{cita[0] }}/{{ cita[1] }}">✅</a>
            <a href="/cancelar/{{cita[0] }}/{{ cita[1] }}">❌</a>
        </td>
    </tr>
    {% endfor %}
</table>
